*.hi
*.o
*.so
*_stub.h
.ghc.environment.*

dist/
dist-newstyle/
dist-nhm/
/test/t/servroot/
/test/tsung/manager.conf
/test/tsung/snmpm_config_db
.hslibs/

/haskell/ngx-export-distribution/test/*.tar.gz

/docs/yet-another-doc-with-examples/*-content.tex
/docs/yet-another-doc-with-examples/*.fdb_latexmk
/docs/yet-another-doc-with-examples/*.toc
/docs/yet-another-doc-with-examples/*.aux
/docs/yet-another-doc-with-examples/*.fls
/docs/yet-another-doc-with-examples/*.out
/docs/yet-another-doc-with-examples/*.log

/compile_flags.txt
tags

